<h3>Products ({{products.length}})</h3>
<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" name="name" [(ngModel)]="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Description</label>
    <textarea class="form-control" id="exampleInputPassword1" name="description" [(ngModel)]="description"></textarea>
  </div>
  <button type="submit" class="btn btn-default" (click)="createProduct()">Submit</button>
</form>

<hr>

<!--<table class="table table-bordered">
  <thead>
  <tr>
    <th>UID</th>
    <th>NAME</th>
    <th>DESCRIPTION</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let product of products">
    <td>{{ product.uid }}</td>
    <td>{{ product.name }}</td>
    <td>{{ product.description }}</td>
  </tr>
  </tbody>
</table>

<h1>Another Component</h1>-->

<rb-product-list></rb-product-list>