<div class="col-md-12" *ngIf="users.length; else loadingTemplate">
  <h3 class="text-primary">Users ({{ users.length }})</h3>
  <hr>
  <table class="table table-bordered">
      <thead>
        <tr>
          <th>ID</th>
          <th>FIRST NAME</th>
          <th>LASTNAME</th>
          <th>EMAIL</th>
          <th>GENDER</th>
          <th>IP ADDRESS</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.first_name }}</td>
          <td>{{ user.last_name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.gender }}</td>
          <td>{{ user.ip_address }}</td>
        </tr>
      </tbody>
  </table>
</div>

<ng-template #loadingTemplate>
  <div class="col-md-12 text-center">
    <br>
    <br>
    <h2 class="text-info text-center">Fetching API, Please wait ..........</h2>
  </div>
</ng-template>
